@model Tuple<int, int>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Twój wynik:</h2>
            <h3>Poprawne odpowiedzi: @Model.Item1 / @Model.Item2</h3>
            <p>Dziękujemy za udział w teście!</p>
        </div>
    </div>
</div>
